#greenName {
    display: block;  /* Ensures the model is treated as a block-level element */
    margin: 0 auto;  /* Horizontal centering */
    width: 100vw;     /* Adjust as needed */
    height: 80vh;    /* Adjust as needed */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; 
}
li {
    float: left;
    border: none;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
