#greenName {
    display: block;  /* Ensures the model is treated as a block-level element */
    margin: 0 auto;  /* Horizontal centering */
    width: 100vw;     /* Adjust as needed */
    height: 80vh;    /* Adjust as needed */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; /* This line ensures the background color is transparent */
}

li {
    float: left;
    border: none; /* This line ensures there is no border around list items */
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none; /* This line ensures there is no border around links */
}

li a:hover {
    background-color: #111;
}