html {
    background-color:chocolate;
}

nav {
    margin: 0 auto;  /* Horizontal centering */
}

ul {
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent; /* This line ensures the background color is transparent */
}

li {
    border: none; /* This line ensures there is no border around list items */
    width: 19%;
}

li a {
    display: block;
    color: white;
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    border: none; /* This line ensures there is no border around links */
}

li a:hover {
    background-color: #111;
}

#greenName {
    display: block;  /* Ensures the model is treated as a block-level element */
    margin: 0 auto;  /* Horizontal centering */
    width: 100vw;     /* Adjust as needed */
    height: 80vh;    /* Adjust as needed */
}

footer {
    align-items: center;
}

