#greenName {
    display: block;  /* Ensures the model is treated as a block-level element */
    margin: 0 auto;  /* Horizontal centering */
    width: 100vw;     /* Adjust as needed */
    height: 80vh;    /* Adjust as needed */

}
